$primaryColor: #fc758c;
$secondaryColor: #fff;
$fontColorPrimary: #fff;
$fontColorSecondary: #000;
$fontColorThird: #fc758c;
$fontColorFourth: #404447;
$fontColorHover: #fc758c;
$fontIconsSocial: #404447;

// ! Screen Size

$screenPhone: 560px;


// ! Fonts

$fontMonserrat: 'Montserrat', sans-serif;
$fontQuestrial: 'Questrial', sans-serif;
